.nav-bar {
  width: 100vw;
  height: 7vh;
  background-color: #9696ff;
}

.main {
  width: 100vw;
  height: 93vh;
  background-color: #ede7fb;
}

.top {
  width: 100vw;
  height: 35vh;
}

.bottom {
  width: 100vw;
  height: 58vh;
}

.nav-parts {
  width: auto;
}

.search {
  width: 300px;
}

.login-button {
  height: 60%;
  width: 80px;
  background-color: #6e6ea5;
  border: none;
  border-radius: 25px;
}

.interests {
  height: 90%;
  width: 15%;
  background-color: #c2c2ff;
}

.general-analysis {
  height: 90%;
  width: 38.69%;
  background-color: #c2c2ff;
}

.tweet-day {
  height: 90%;
  width: 32.1999%;
  background-color: #c2c2ff;
}

.trending {
  height: 90%;
  width: 15%;
  background-color: #c2c2ff;
}

.analysis {
  height: 90%;
  width: 75%;
  background-color: #c2c2ff;
}

.inner-box-wide {
  height: 80%;
  width: 90%;
  height: 80%;
  width: 90%;
  background-color: #ddddff;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

.inner-box-long {
  height: 88%;
  width: 90%;
  background-color: #ddddff;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

.analysis-container {
  width: 100%;
  height: 95%;
}

.analysis-small {
  height: 40%;
  width: 90%;
  background-color: #ddddff;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

.analysis-big {
  height: 90%;
  width: 90%;
  background-color: #ddddff;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
