.gradient-custom-3 {
    /* fallback for old browsers */
    background:#c2ffff;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #C2C2FF,#C2FFFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #C2C2FF, #C2FFFF)
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #C2FFFF
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #C2C2FF, #C2FFFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #C2C2FF, #C2FFFF)
  }
  /* #C2C2FF
#8892B3
#D6C2FF
#C2FFFF
#88B3B3 */